<a href="https://colab.research.google.com/github/Elizaarora/Assignment-1/blob/main/ass1_eliza_cognitive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WAP to print your name three times

In [1]:
for i in range(3):
    print('eliza arora')

eliza arora
eliza arora
eliza arora

WAP to add three numbers and print the result

In [15]:
a=2
b=34
c=56
print(a,'+',b,'+',c,'=',a+b+c)

2 + 34 + 56 = 92

WAP to concatinate three strings and print the result.

In [3]:
a='myself'
b='eliza'
c='arora'
print(a,'+',b,'+',c,'=',a+' '+b+' '+c)

myself + eliza + arora = myself eliza arora

WAP to print the table of 7, 9.

In [5]:
x=7
for i in range(1,11):
    print(x,'*',i,'=',x*i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [6]:
x=9
for i in range(1,11):
    print(x,'*',i,'=',x*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [7]:
x=int(input('enter a number:'))
for i in range(1,11):
    print(x,'*',i,'=',x*i)

enter a number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

WAP to add all the numbers from 1 to n and n is given by user

In [8]:
sum=0
n=int(input('Enter a number:'))
for i in range(1,n+1):
    sum+=i
print(sum)

Enter a number:5
15

WAP to find max amoung three numbers and input from user. [Try max() function]

In [9]:
a=int(input('enter a number:'))
b=int(input('enter a number:'))
c=int(input('enter a number:'))
if(a>max(b,c)):
    print(a,'is greater')
else:
    print(max(b,c),'is greater')

enter a number:5
enter a number:3
enter a number:6
6 is greater

WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [10]:
sum=0
a=int(input('enter a number:'))
for i in range(1,a):
    if(i%63==0):
       sum+=i
print(sum)

enter a number:55
0

WAP to add all prime numbers from 1 to n and n is given by the user.

In [11]:
sum=0
n=int(input('Enter a number:'))
for i in range(2,n+1):
    is_prime=True
    for j in range(2,int(i**0.5)+1):
        if(i%j==0):
            is_prime=False
            break
    if(is_prime==True):
        sum+=i
print(sum)

Enter a number:45
281

WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [12]:
def odd_sum(n):
    sum=0
    for i in range(1,n+1):
        if(i%2!=0):
            sum+=i
    return sum
n=int(input('enter a number:'))
print('sum of odd numbers from 1 to',n,'is',odd_sum(n))

enter a number:34
sum of odd numbers from 1 to 34 is 289

WAP using function that add all prime numbers from 1 to n, n given by the user.

In [14]:
def prime_sum(n):
    sum=0
    for i in range(2,n+1):
        is_prime=True
        for j in range(2,int(i**0.5)+1):
            if(i%j==0):
                is_prime=False
                break
        if(is_prime==True):
            sum+=i
    print(sum)
n=int(input('Enter a number:'))
prime_sum(n)

Enter a number:78
712